.App {
  margin: 20px;
  display: grid;
  align-items: center;
  width: 50vw;
  background-color: #0c4160;
  border-radius: 2px;
}

.App-heading {
  display: grid;
  justify-content: center;
  color: white;
}

hr {
  background-color: gainsboro;
  width: 100%;
  height: 1px;
  border: none;
}

.App-top-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: azure;
  margin: 10px 10px 1px 10px;
  border-radius: 2px;
}

.logical-select {
  margin: 10px;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 2px;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}

.btn-add-rule {
  padding: 9px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 14px;
  background-color: rgb(49, 148, 49);
  font-family: 'Times New Roman', Times, serif;
}

.json {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
  background-color: azure;
  padding: 10px;
  border-radius: 2px;
  color: #0c4160;
}

.query-output {
  background-color: white;
  padding: 10px;
  margin: 0px 10px 10px 10px;
  border-radius: 2px;
  font-size: 16px;
}
